.ethereum-card {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  width: 24rem;
  height: 13.5rem;
  border: 1px solid #343434;
  border-radius: 1rem;
  box-shadow: 2px 2px 16px #141414;
  background-image: linear-gradient(
    135deg,
    rgb(0, 0, 0),
    rgb(64, 64, 64),
    rgb(0, 0, 0)
  );

  opacity: 1;
  transition: all 2s ease;
}

.ethereum-card:hover {
  opacity: 0.8;
}

.ethereum-card h3 {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 8px gray;
}

.ethereum-card .logo svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 1rem;
  border: 1px solid silver;
  border-radius: 50%;
  box-shadow: 0 0 16px gray;
  font-size: 92px;
}

.ethereum-card .account,
.ethereum-card .balance {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  font-size: 0.7rem;
  line-height: normal;
  color: gray;
  text-shadow: 2px 2px 16px #141414;
}

.ethereum-card .account {
  left: 1rem;
}

.ethereum-card .balance {
  right: 1rem;
}

@media screen and (max-width: 540px) {
  .ethereum-card {
    width: 20rem;
    height: 11rem;
  }

  .ethereum-card h3 {
    font-size: 1.2rem;
  }

  .ethereum-card .logo svg {
    font-size: 64px;
  }
}
