.transactions {
  margin: 2rem auto;
  width: 102rem;
}

.transactions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

@media screen and (max-width: 1919px) {
  .transactions {
    width: 76rem;
  }

  .transactions-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1279px) {
  .transactions {
    width: 50rem;
  }

  .transactions-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1023px) {
  .transactions {
    width: 24rem;
  }

  .transactions-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 540px) {
  .transactions {
    width: 20rem;
  }
}
