.transactions {
    margin-top: 4rem;
}

.transactions-count {
    margin-bottom: 1rem;
}

.transactions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

@media screen and (max-width: 1919px) {
    .transactions-grid {
       grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1279px) {
    .transactions-grid {
       grid-template-columns: 1fr;
       gap: 1rem;
    }
}
