:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  background-image: linear-gradient( 180deg, #343434, #141414);

}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  box-sizing: border-box;
}

h3 {
  font-size: 1.4rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
}

h3 span {
  vertical-align: middle;
}

h3 svg {
  vertical-align: middle;
}

input, button {
  font-size: 0.9rem;
}
